.grid > div {
    border-style: solid;
    font-family: 'Poppins', sans-serif;
    border-width: thin;
    font-size: 13px;
    border-color: whitesmoke;
}
.grid {
    display: grid;
    max-width: 1110px;
    grid-template-rows: repeat(6, 60px);
    grid-template-columns: 200px repeat(9, minmax(50px, 100px));
    margin: auto;   
}
#setting {
    grid-column: 2/6;
}
#teacheroutcomes {
    grid-column: 6/9;
}
/* body {
    background-image: url(https://www.acer.org/assets/images/dest/banners/gem.png);
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: luminosity;
} */
#studentoutcomes {
    grid-column: 9/11;   
}
#interventions {
    grid-row: 1/3;
}
.header {
    margin-top: 120px;
}
.headRow {
    display: flex;
    background-color: #7E277E;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* line-height: ; */
    padding: 5px 10px;
}
circle {
    fill: lightslategray;
    /* stroke: black; */
}

/* to change svg circle on hover */
#grid circle:hover {
    stroke: rgb(58, 56, 56);    
    fill: darkslategray;
}
circle .legend :hover {

}
.filter {
    display: none;
}
a {
    color: white;
}
a:hover {
    color: lightgray;
}
.tog {
    padding: 4px;
}
#chart {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    background: lightblue;
}
.tippy-box {
    /* font-size: .9em; */
    background-color:#333333;
    color: white;
    opacity: 1;
}
footer.bg-dark {
    margin-top: 60px;
}
.navbar > .container,
.navbar > .container-fluid {
    justify-content: flex-start;
}
.navbar .h2 {
    position: relative;
    top: 4px;
}
.navbar .navbar-brand {
    margin-right: 10px!important;
}

@media only screen and (max-width: 1025px) {
    body {
        width: auto;
    }
    .interventionRow {
    font-size: .5em; 
    /* line-height: .7rem; */
    }
    .headRow {
        font-size: .7em;
        /* line-height: .7rem; */
    }
    div.teacher {
        display: none;
    }
    div.student {
        display: none;
    }
    .grid {
        grid-template-columns: repeat(5, 20vmin);
        /* max-width: 100%;
        width: auto;
        margin-left: auto;
        margin-right: auto; */
    }

    #grid, .tog {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    /* formatting for map tippy */
    /* .tippy-box[data-theme~='white'] {
        background-color: white;
        color: black;
        line-height: 100%;
        border-style: solid;
        border-width: .5px;
    } */


}
@media only screen and (min-width: 1025px) {
    .tog {
        display: none;
    }
}

/*  style for map*/
#content .info {
    height: 20px;
}

/* #content .map path {
fill: #aaa;
stroke: black;
stroke-width: 4;
} */
#svg {
    width: 100%;
}
#content .land {
    fill: #efefef;
    stroke: black;
    stroke-width: .003;
}
#content .notDev {
    fill: #1d8ba7;
}
#content .dfatDev {
    fill: #859cd3;
    
}
#content .study {
    /* fill: #72118a; */
    fill: #5c4063;
    /* stroke: white;
    stroke-width: 1; */

}
#content .study:hover {
    fill: #a479af;
    cursor: pointer;
}
a.cntInfo:link {
    color: black;
}
a.cntInfo:visited {
    color: gray;
}
a.cntInfo:hover {
    color: blue;
}
/* formatting for map tippy */
.tippy-box[data-theme~='white'] {
    font-family: 'Poppins', sans-serif;
    font-size: .8em;
    background-color: white;
    color: black;
    line-height: 1.1em;
    border-style: solid;
    border-width: .5px;
}
.tippy-box[data-theme~='white'] a {
    color: black;
}
.tippy-box[data-theme~='white'] a:link {
    color: blue;
}
.tippy-box[data-theme~='white'] a:hover {
    color: lightblue;
}
.tippy-box[data-theme~='white'] a:visited {
    color: gray;
}

/* .legend {
    background: lightslategray;
} */
.labels {
    font-size: .7em;
    /* stroke: white;
    stroke-width: .1; */
    cursor: default;
}
/* .btn {
    color: #7E277E;
    border-color: #7E277E;
    
}
.btn:hover {
    background-color: #7E277E;
    color:white;
}
.btn:active {
    background-color: #7E277E;
    color:white;
} */

.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .hide {
      display: none;
  }

  .show {
    display: block;
  }